openapi: 3.0.0
info:
  description: 'bootcamp-zoe-flower-users-api'
  title: 'bootcamp-zoe-flower-users-api'
  version: '0.0.1'
servers:
  - url: https://bootcamp-zoe-flower-users-api.flyt-platform.com
    description: Production environment
  - url: https://bootcamp-zoe-flower-users-api.flyt-staging.com
    description: Staging environment
  - url: https://bootcamp-zoe-flower-users-api-{namespace}.flyt-dev.com
    description: Development environment
    variables:
      namespace:
        default: username
        description: The namespace of the development service, usually your username.

paths:
  /user:
    post:
      summary: Add a user
      description: Add a user by Id
      # matches handler end point name
      operationId: addUser
      requestBody:
        description: Add a user to db
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Flyt-Api-Key
  schemas:
    User:
      type: object
      required:
        - userId
        - firstName
        - lastName
        - dob
        - slackHandle
      properties:
        userId:
          type: string
        firstName:
          type: string
          example: firstname
        lastName:
          type: string
          example: lastname
        dob:
          type: string
        slackHandle:
          type: string
          example: firstname
security:
  - ApiKeyAuth: []
