openapi: 3.0.0
info:
  description: 'bootcamp-zoe_flower-users-api'
  title: 'bootcamp-zoe_flower-users-api'
  version: '0.0.1'
servers:
  - url: https://bootcamp-zoe-flower-users-api.flyt-platform.com
    description: Production environment
  - url: https://bootcamp-zoe-flower-users-api.flyt-staging.com
    description: Staging environment
  - url: https://bootcamp-zoe-flower-users-api-{namespace}.flyt-dev.com
    description: Development environment
    variables:
      namespace:
        default: username
        description: The namespace of the development service, usually your username.

paths:
 /user:
    post:
      summary: Add a user
      description: Add a user by Id
      operationId: addUser
      requestBody:
        description: Add a user to db
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        '200':
          description: Successful operation

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Flyt-Api-Key
  schemas:
    User:
      type: object
      properties:
        user_id:
          type: integer
          format: int64
          example: 10
        first_name:
          type: string
          example: firstname
        last_name:
          type: string
          example: lastname
        dob:
          type: string
          format: date-time
        slack_handle:
          type: string
          format: binary
          example: firstname.lastname

security:
  - ApiKeyAuth: []
